<h3>Múltiple renderFragment (soy el hijo)</h3>

<div class="card shadow-sm">
	<div class="card-header">
		@Encabezado
	</div>
	<div class="card-body">
		@Cuerpo
	</div>
	<div class="card-footer">
		@PieDePagina
	</div>
</div>

@code {
	[Parameter]
	public RenderFragment? Encabezado { get; set; }
	[Parameter]
	public RenderFragment? Cuerpo { get; set; }
	[Parameter]
	public RenderFragment? PieDePagina { get; set; }
}