@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using WebAppBach.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager

<div class="login-display">
    <AuthorizeView Context="authState">
        <Authorized>
            <a href="/Account/Manage" title="Manage">Hola, @authState.User.Identity?.Name!</a>
            <form action="/logout" method="post">
                <button type="submit" class="nav-link btn btn-link">Cerrar Sesión</button>
            </form>
        </Authorized>
        <NotAuthorized>
            <a href="/register">Registrarse</a>
            <a href="/login">Iniciar Sesión</a>
        </NotAuthorized>
    </AuthorizeView>
</div>