<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebAppBach</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Contador
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tabla de temperatura
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Extra page
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="injection">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inyección
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listarelementos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista de elementos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Eventos
            </NavLink>
        </div>

        <!-- Hacer un collapsible de opciones a navegar al hacer clic en el navLink (mostrando la page a navegar, así como opciones extras), -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lista-personas">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Lista de personas
            </NavLink>
        </div>

      @*   <div class="d-flex gap-2 mb-4">
    <Dropdown Color="DropdownColor.Secondary" Size="DropdownSize.Small">
        <DropdownToggleButton>Small button</DropdownToggleButton>
        <DropdownMenu>
            <DropdownItem To="#" Type="DropdownItemType.Link">Action</DropdownItem>
            <DropdownItem To="#" Type="DropdownItemType.Link">Another action</DropdownItem>
            <DropdownItem To="#" Type="DropdownItemType.Link">Something else here</DropdownItem>
        </DropdownMenu>
    </Dropdown> *@

    <div class="nav-item px-3">
            <NavLink class="nav-link" href="multiple-renderfragment">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Uso de render
            </NavLink>
        </div>


    </nav>
</div>

