@page "/tema-padre"
<CascadingValue Name="TemaGlobal" Value="temaGlobal">
	<h3>Aplicación de parámetros en cascada</h3>
	<CascadingValue Name="IdiomaGlobal" Value="idiomaGlobal">
		<ComponenteHijo/>
	</CascadingValue>
</CascadingValue>

@code {
	private string temaGlobal = "Oscuro";
	private string idiomaGlobal = "Español";

}
