
<h3>ComponenteDispositivo</h3>

<div>
	<h4>@Dispositivo.TipoDispositivo</h4>
	<h4>@Dispositivo.Modelo</h4>
	<h4>@Dispositivo.TarjetaGrafica</h4>
	<h4>@Dispositivo.ModeloTarjeta</h4>
</div>

@code {
	[Parameter]
	public Dispositivo Dispositivo { get; set; }


}
