@layout LayoutPersonalizado 

@page "/counter"
@using WebAppBach.Components.Layout

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<h2 @onmouseover="IncrementCount">Desliza el cursor por aquí para sumar ¡Sin dar click!</h2>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
