@page "/directorio-personas"
<h3>Directorio de personas</h3>
@*
<div class="row">
	@foreach (var persona in Personas)
	{
		<div class="col-4">
			<ComponenteSingular Nombres="@persona.Nombres" Apellido1="@persona.Apellido1", Apellido2="@persona.Apellido2">
				<FragmentDispositivo>
					@if (persona.TipoDispositivo.Count > 0)
					{
						<h3>Direcciones</h3>
						@foreach (var dispositivo in persona.TipoDispositivo)
						{
							<ComponenteDispositivo Dispositivo="dispositivo"></ComponenteDispositivo> 
						}
					}
				</FragmentDispositivo>
			</ComponenteSingular>
		</div>
	}
</div>

@code {
	public List<Singular> Personas { get; set; }

	public DirectorioPersonas()
	{
		
	}

}

*@