@inject NavigationManager Navigation
@rendermode InteractiveServer
@page "/"
@attribute [AllowAnonymous]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br />
<hr />
<AuthorizeView>
    <Authorized>
        <WebAppBach.Components.AttributeSplatting.CompButton Texto="Registrar productos" @attributes="atributosBoton" @onclick="NavegarAForm" />
    </Authorized>
</AuthorizeView>

@code
{
    public Dictionary<string, object> atributosBoton = new Dictionary<string, object>
    {
        {"class", "btn btn-primary"},
        {"style", "font-size: 18px"}
    };

    private void NavegarAForm()
    {
        Navigation.NavigateTo("/registrar-productos");
    }
}