@inject NavigationManager Navigation
@page "/"


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<WebAppBach.Components.AttributeSplatting.CompButton Texto="Aceptar" @attributes="atributosBoton" @onclick="NavegarAForm"/>

@code 
{
	public Dictionary<string, object> atributosBoton = new Dictionary<string, object>
	{
		{"class", "btn btn-success"},
		{"style", "font-size: 18px"}
	};

	private void NavegarAForm()
	{
		Navigation.NavigateTo("/registrar-productos");
	}
}